<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header"><h3>System List</h3></div>
            <div class="card-body p-0">
                <ejs-grid #gridSystem 
                    (actionBegin)="actionBegin($event)" 
                    (dataBound)='dataBound()'
                    (actionComplete)="actionComplete($event)" gridLines='Both' [toolbar]='toolbarOptions'
                    (rowSelected)="rowSelected($event)" [editSettings]='editSettings' 
                    [dataSource]='systems' allowPaging='true' [allowSorting]='true' allowResizing='true'
                    showColumnMenu='true' [allowExcelExport]='true' allowFiltering='true'
                    [filterSettings]='filterSettings' [pageSettings]='pageSettings'>
                    <e-columns>
                        <e-column field='#' headerText='#' width='70' textAlign='Center' isPrimaryKey='true'>
                            <ng-template #template let-data>
                                {{NO(data.index)}}
                            </ng-template>
                                <ng-template #editTemplate let-data>
                                   #
                                </ng-template>
                        </e-column>
                        <e-column field='ID' headerText='System Code' width='80' textAlign='Center'>
                            <ng-template #editTemplate let-data>
                                {{data.ID}}
                            </ng-template>
                        </e-column>
                        <e-column field='Name' headerText='Name' width='150' textAlign='Center'></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header"><h3>User List</h3></div>
            <div class="card-body p-0">
                <ejs-grid #grid gridLines='Both'
                   [toolbar]='toolbarOptionsUser' [dataSource]='users'
                    allowPaging='true' [allowSorting]='true' allowResizing='true' showColumnMenu='true'
                    [allowExcelExport]='true' allowFiltering='true' [filterSettings]='filterSettings'
                    [pageSettings]='pageSettings' (toolbarClick)='toolbarClickUser($event)'>
                    <e-columns>
                        <e-column type='mapping' headerText='Mapping' isPrimaryKey='true' textAlign='Center' width='70'>
                            <ng-template #template let-data>
                                <ejs-switch #switch onLabel="On" offLabel="Off" style="cursor: pointer;"
                                    [checked]='data.Status' (change)='mapping($event, data)'></ejs-switch>
                            </ng-template>
                        </e-column>
                        <e-column field='Username' headerText='Username' width='200' textAlign='Center'></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</div>